@font-face{
    src: url(Jacquard12-Regular.ttf);
    font-family:"j";
}
@font-face{
    src: url(Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
    font-family:"jssh";
}
body{
    margin: 0;
    overflow-x: hidden;
    font-family: "jssh";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

 span{
    margin: 30px;
    font-size: 17px;

}
 .h{
    font-size:50px;
    font-family: "j";
}
input{
    width: 330px;
    height: 50px;
    border: none;
    outline: none;
    box-shadow:0 0 1px #333;
    margin: 30px;
}
button{
    width: 130px;
    height: 50px;
    border: none;
    outline: none;
    box-shadow:0 0 0 #333;
    background: rgb(86, 134, 86);
    position: relative;
}
button::after{
    content: 'Go';
    position: absolute;
    width:0px;
    height: 0px;
    top:0;
    left: 0;
    font-size: 0;
    transition: all 0.6s;
    cursor: pointer;
    background: rgb(0, 0, 0);
}
button:hover::after{
    width:130px;
    height: 50px;
   font-size: 30px;
}
button:hover{
    width:130px;
    height: 50px;
    color: white;
}
.h{
    text-indent: 2px;
}